/*****************************************************
 * Magic Mirror                                      *
 * Custom CSS                                        *
 *                                                   *
 * By Michael Teeuw http://michaelteeuw.nl           *
 * MIT Licensed.                                     *
 *                                                   *
 * Add any custom CSS below.                         *
 * Changes to this files will be ignored by GIT. *
 *****************************************************/

 body {

}

.xsmall {
font-size: 10px;
line-height: 15px;
  }
  
.small {
font-size: 15px;
line-height: 20px;
}

.medium {
font-size: 25px;
line-height: 30px;
}

.large {
font-size: 55px;
line-height: 55px;
}

.xlarge {
font-size: 65px;
line-height: 65px;
letter-spacing: -3px;
}
/* National Rail*/
.MMM-UKNationalRail {
width: 100px;
font-size: 10px;
}
.trains {
  font-size: 20%;
  display: inline-block;
  -o-transform: translate(0, -3px);
  -moz-transform: translate(0, -3px);
  -ms-transform: translate(0, -3px); /* IE 9 */
  -webkit-transform: translate(0, -3px); /* Safari */
  transform: translate(0, -3px);
}

/* Destination */
 .dest {
  max-width: 50px;
  overflow: hidden;
  padding-left: 2px;
  padding-right: 5px;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* Train origin station */
.trainOrigin {
  max-width: 50px;
  overflow: hidden;
  padding-right: 5px;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* Platofrm Number */
.platform {
  font-weight: bold;
  padding-right: 5px;
  text-align: left;
}

.timeTabled {
  padding-left: 10px;
}

.actualTime {
  padding-left: 10px;
}

.status {
  padding-left: 10px;
  text-align: right;
}

/* Statuses */
.late {
  color: #ff0000;
}

.early {
  color: #55a6e0;
}

.goodnews {
  color: #00ff00
}

.nonews {
  color: #ffffff
}

.stationName {
  text-align: left;
  font-size: 10px;
  font-family: "Roboto Condensed";
  font-weight: 400;
  line-height: 10px;
  padding-bottom: 5px;
  margin-bottom: 10px;
  color: #999;
}


/* SPOTIFY */
.MMM-NowPlayingOnSpotify{
 width:250px;
}
.NPOS_nothingIsPlayingImage{
display: none;
}
.NPOS_coverArtArea{
margin-bottom: -80px;
position: relative;
}
.NPOS_coverArtArea:before{
content: '';
background: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,1));
height: 70%;
width: 100%;
position: absolute; bottom: 0; left: 0;
z-index: 9;
}
.NPOS_coverArtArea .NPOS_albumCover{
border-radius: 2px;
position: relative;
display: block;
}
.NPOS_infoText{
position: relative;
z-index: 10;
margin: 0 10px;
}
.NPOS_infoText:nth-child(2){
font-weight: 600;
font-size: larger;
margin-bottom: 5px;
}
.NPOS_infoText:nth-child(3){
font-weight: 400;
}
.NPOS_infoText:nth-child(4){
margin-top: 10px;
font-size: smaller;
}
.NPOS_infoText:nth-child(5){
font-weight: 600;
font-size: smaller;
margin-top: 10px;
text-align: center;
max-width: 100%;
}
.NPOS_infoText:nth-child(7){
font-weight: 600;
font-size: smaller;
margin-top: 5px;
margin-bottom: 15px;
text-align: center;
max-width: 100%;
}
.NPOS_infoText .NPOS_icon{
display: none;
}
progress.NPOS_progress{
border: none;
background: rgba(255,255,255,.2);
border-radius: 4px;
display: block;
position: relative;
}
